<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Intercom Generate</title>
    <script src="/scripts.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/style.css"/>
    <link rel="icon" type="image/png" href="/favicon.ico">
    <style>
        body {background-image: url('https://cl.ly/a146eebf8ed2/excellent.gif');
              background-size: cover;}
        .navbar-brand img {
          display: inline;
          margin-right: 10px;
        }

        .navbar {
          border-radius: 0px;
        }

        .container{
          max-width: 750px;
        }

        p{
          margin-bottom: 10px;
        }
    </style>
  </head>

  <body>
    <nav class="navbar navbar-inverse">
      <div class="container">
          <p><a class="navbar-brand" href="/" ><img src="https://downloads.intercomcdn.com/i/o/71995579/7e8e462dee5d13c376ab8aa1/logo.png"> | 🏭 Generate</a></p>
      </div>
    </nav>
    <div class="container">
      <h3 style="color:white">IT HAS BEEN DONE 🤘</h3>
      <p style="color:white">You're all good to go. Click <a href="/">here</a> to start again.</p>
      <hr>
    </div>
    </div> <!-- /container -->
  </body>
</html>
